body {
    overflow-x: auto;
}

.table-wrapper {
    display: flex;
    max-width: 100%;
}

.styled-table {
    width: 750px;
    min-width: 500px;
    margin: 0 auto;
    border-collapse: initial;
    font-family: 'Segoe UI', sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.styled-table {
    table-layout: fixed;
}

.styled-table th,
.styled-table td {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.styled-table thead {
    background-color: #009879;
    color: #fff;
    text-transform: uppercase;
}

.styled-table tbody tr:hover {
    background-color: #f3f3f3;
}

.styled-table img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', sans-serif;
    padding: 20px;
    align-items: center;
}

.input-wrapper * {
    font-size: 1.2rem;
}

.input-label {
    font-weight: bold;
    margin-right: 15px;
}

.no-result {
    text-align: center;
    font-size: 1.2rem;
    color: #777;
    margin: 20px 0;
    font-family: 'Segoe UI', sans-serif;
}